header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    font-size: 12px;
    margin-left: 80px;
}

nav ul li {
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
.search {
    width: 80%; 
}

.search input {
    width: 80%; 
    font-size: 16px; 
    padding: 10px 15px;
    box-sizing: border-box; 
}

.search input::placeholder {
    font-size: 16px; 
}
.icons {
    display: flex;
    gap: 20px; 
}

.icons a {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}

.icons a i {
    font-size: 24px; 
    margin-bottom: 5px;
}
.flat{
    background-image: url('https://assets.ajio.com/medias/sys_master/images/images/h50/h74/13531938848798/22072019-D-SHP-MAINSITEOFFER1-banner-stylesplash-min50.png');
    height: 400px;
    width: 1400px;
    margin-top: 20px;
    margin-left: 5px;
}

.banner{
    background-image: url('https://i.pinimg.com/736x/4f/57/47/4f57472c0f1f93776cbfbb7e63946ec3.jpg');
    background-size: cover;
    height: 750px;
    width: 1400px;
    margin-top: 5px;
    margin-left: 5px;
}
.product,.product1,.product2{
    width: 50%;
    height: auto;
    margin-top: 5px;
    display: flex;
    position: relative;
}
.banner2,.banner3{
    background-size: cover;
    height: 100px;
    width: 1250px;
    margin-top: 5px;
    margin-left: 5px;
}
.exclusive,.exclusive1,.exclusive2,.exclusive3{
    width: 50%;
    height: auto;
    display: flex;
}
.footware,.footware1,.footware2,.footware3{
    width: 50%;
    height: auto;
    display: flex;
}
.ajiofootware{
    background-size: cover;
    height: 210px;
    width: 1250px;
    margin-top: 5px;
    margin-left: 5px;
}
.icons2 {
    display: flex;
    justify-content: center; 
    gap: 230px; 
    margin-top: 8px;
}
.icons2 a {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
}
.icons2 a i {
    font-size: 50px; 
    margin-bottom: 5px;
}
